/* --------------------------------- GLOBAL RESETS/SETTINGS (Edit at your own risk!) --------------------------------- */
/* These styles make different browsers render more consistently, altering any of these styles will affect the way the entire site renders in all browsers, BE CAREFUL BEFORE EDITING THESE STYLES. Global Defaults for renders these elements should be done the the Default Styles section */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, br {border: 0;margin: 0;padding: 0;outline: 0; letter-spacing:normal}
html {font-size:100.01%; /* 100.01% value is to compensates for several browser font sizing differences */ }
body {color:#fff; font-size: 11px; font-family: Arial, Helvetica, Verdana, sans-serif;}
.clear {clear:both;}
table {border-collapse: collapse;margin: 0px;padding: 0px;}
a {color:#333; text-decoration:underline; cursor:pointer;}
a img {text-decoration:none;}
a:hover {text-decoration:none; color:#c00;}
.hidden, .analytics {display:none;}
strong {font-weight:bold;}
ol, ul {list-style:none;}
ul.content-list {list-style:disc; margin-left:13px;}
ul.content-list li {margin-bottom:4px;}

body {background:url(../images/bgimg.jpg) center top #000 no-repeat; }
#container {width:100%;}
#header {width:840px; padding:0 30px; margin:80px auto 20px;}
#mainCont {width:800px; margin:0 auto; background:url(../images/contbg.png) 0 0; padding:50px; height:500px;}
#footer {position:fixed; bottom:0; height:75px; width:100%; background:#061336; border-top:1px solid #1a335b;}
#footer .footerContent {width:900px; margin:0 auto; padding-top:30px; font-size:13px; color:#ccc;}
#footer .footerContent a {color:#ccc; text-decoration:none; padding:0 10px; border-right:1px solid #666;}
#footer .footerContent a:hover {text-decoration:underline;}
#footer .footerContent .lftLinks {float:left;}
#footer .footerContent .rtLinks {float:right;}
#header a#logo {float:left;}
#header #socialMedia {float:right;}
.tempCopy {font-size:16px; width:450px; float:left; line-height:22px; margin:100px 0 0 20px;}
.tempCopy p {margin:10px 0}
.tempCopy h1 {font-size:23px; margin-bottom:10px;}
.tempCopy a {color:#68d4ff; font-weight:bold;}
.tempImg {float:right; margin:40px 20px 0 0;}